:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: black;
  text-decoration: inherit;
}
/*a:hover {
  font-weight: 800;
  color: #535bf2;
}*/

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: rgb(249, 249, 249);
  overflow: scroll;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  color: gray;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.container {
  width: 1376px;
  margin: 0 auto;
  padding: 20px 0;
  /*media query==>
  max-width: 1376px; width: 100%;
  ??*/
}

/****** Header ******/

.Header_innerBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 40px;
}

/* [Left] 로고 */
.HeaderLogo_block a {
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

/* [Right] 아이콘 + 로그인 */
.Header_right {
  display: flex;
  gap: 16px;
  align-items: center;
}

.Header_right button {
  height: 32px;
  width: 80px;
  border-radius: 100px;
  background-color: #2b2b2b;
  color: rgba(255, 255, 255, 0.87);
  padding: 0;
  font-weight: 600;
}

/****** Topnav ******/

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 48px;
}

nav div {
  display: flex;
  gap: 10px;
}

/* [Left] 리스트 */

.HomeTab_left {
  display: flex;
  align-items: center;
  gap: 16px;
}

.HomeTab_left img {
  width: 18px;
  height: 18px;
}

.HomeTab_left a {
  display: flex;
  align-items: center;
  gap: 10px;
  color: gray;
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  padding: 12px 8px;
}

.HomeTab_left a:hover {
  font-weight: 800;
  color: black;
}

/* [Right] 필터+더보기 */

.HomeTab_right {
  position: relative; /*js 구현 시 드롭다운 위치 때문에 필요할듯*/
  display: flex;
}

.HomeTab_selector {
  cursor: pointer;
  background: #ffffff;
  height: 32px;

  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 8px;
  padding-right: 8px;
  margin-right: 10px;
  font-weight: 600;
  color: #495057;
  font-size: 14px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.05);
}

.HomeTab_extra {
  margin-top: 5px;
  cursor: pointer;
  font-size: 24px;
  color: #868e96;
}

/****** Postcards ******/

.postsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 24px;
  padding: 24px 0;
  max-width: 1376px;
  width: 100%;
  margin: 0 auto;
}

/***반응형 UI 구현***/
/* 화면이 1024px 이하이면 post 2개 */
@media (max-width: 1024px) {
  .postsGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}
/* 화면이 768px 이하이면 post 1개 */
@media (max-width: 768px) {
  .postsGrid {
    grid-template-columns: 1fr;
  }
}

.postcard {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  height: 376.9px;
  background: #ffffff;
  border-radius: 4px;
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.04);
  transition: box-shadow 0.25s ease-in, transform 0.25s ease-in;
}
.postcard:hover {
  transform: translateY(-8px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.postcard_thumbnail {
  width: 100%;
  height: 180px;
  object-fit: cover;
  cursor: pointer;
}

.postcard_content {
  padding: 1rem;
  display: flex;
  flex: 1 1;
  flex-direction: column;
}

.postcard_title {
  font-size: 18px;
  margin: 0 0 8px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-x: hidden;
  overflow-y: hidden;
  cursor: pointer;
}

.postcard_summary {
  font-size: 14px;
  color: #555;
  margin: 0 0 12px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-x: hidden;
  overflow-y: hidden;
  cursor: pointer;
  margin: 0;
}

.postcard_subInfo {
  font-size: 12px;
  color: #888;
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}

.postcard_footer {
  padding: 0.625rem 1rem;
  border-top: 1px solid #ddd;
  display: flex;
  font-size: 0.75rem;
  line-height: 1.5;
  justify-content: space-between;
}
.postcard_userInfo {
  cursor: pointer;
  font-size: 12px;
  color: #888;
  display: flex;
  align-items: center;
}
.profile_Img {
  object-fit: cover;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  display: block;
  margin-right: 0.5rem;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  /*  a:hover {
    color: #747bff;
  }*/
  button {
    background-color: #f9f9f9;
  }
}

/**************************상세페이지*******************************/

.titleInfo {
  font-size: 1rem;
  color: var(--text2);
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
}
.titleInfo div {
  display: flex;
}
.titleInfo :nth-child(2) {
  font-size: 1rem;
  color: var(--text2);
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
}

.like-btn {
  background: var(--bg-element1);
  border: 1px solid var(--border2);
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  -webkit-box-align: center;
  align-items: center;
  height: 1.5rem;
  border-radius: 0.75rem;
  outline: none;

  /**/
  font-size: 14px;
  display: flex;
  box-shadow: none;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  justify-content: center;
  background-color: var(--bg-element1);
  cursor: pointer;
  border-radius: 30px;
  font-weight: 700;
  width: 96px;
  height: 32px;
  white-space: nowrap;
  margin-left: 1rem;
}

.tag_container {
  display: flex;
  margin-top: 0.875rem;
  margin-bottom: 0.875rem;
  min-height: 0.875rem;
}
.tag_container div {
  background: #f8f9fa;
  padding-left: 1rem;
  padding-right: 1rem;
  height: 2rem;
  border-radius: 1rem;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  margin-right: 0.875rem;
  color: green;
  text-decoration: none;
  font-weight: 500;
  font-size: 1rem;
  cursor: pointer;
}
.tag_container div:hover {
  opacity: 0.7;
}

.body_container {
  padding: 2.5rem 1rem 0 1rem;
}
.body_container p {
  font-size: 1.125rem;
  color: var(--text1);
  transition: color 0.125s ease-in;
  line-height: 1.7;
  letter-spacing: -0.004em;
  word-break: keep-all;
  overflow-wrap: break-word;
}

.footerprofile_container {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  text-align: center;
  margin-top: 10rem;
  margin-bottom: 6rem;
}
.footerprofile_container img {
  display: block;
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 0px 4px 0px;
}
.footerprofile_container div {
  display: flex;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  margin-left: 1rem;
  margin-right: 1rem;
}
#name {
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  margin-left: 1rem;
  margin-right: 1rem;
  font-size: 1.5rem;
  line-height: 1.5;
  font-weight: bold;
  color: var(--text1);
}

.follow-btn {
  color: #12b886;
  border: 1px solid #12b886; /*왜 안바뀜? button 기본 색상 확인하기*/
  font-size: 14px;
  display: flex;
  box-shadow: none;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  background-color: var(--bg-element1);
  cursor: pointer;
  border-radius: 30px;
  font-weight: 700;
  width: 96px;
  height: 32px;

  white-space: nowrap;
  outline: none;
  font-size: 16px;

  margin-left: 1rem;
  margin-right: 1rem;
}

.comment_container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
  color: var(--text1);
}
.comment_container h4 {
  font-size: 1.125rem;
  line-height: 1.5;
  font-weight: 600;
  margin-bottom: 1rem;
}
textarea {
  resize: none;
  padding: 1rem 1rem 1.5rem;
  outline: none;
  border: 1px solid var(--border4);
  margin-bottom: 1.5rem;
  width: 100%;
  border-radius: 4px;
  min-height: 6.125rem;
  font-size: 1rem;
  color: var(--text1);
  line-height: 1.75;
  background: var(--bg-element1);
  box-sizing: border-box;
}

.button-wrapper {
  display: flex;
  -webkit-box-pack: end;
  justify-content: flex-end;
}

.comment-btn {
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  border: none;
  background: #12b886;
  color: #ffffff;
  border-radius: 4px;
  padding: 0px 1.25rem;
  height: 2rem;
  font-size: 1rem;
}
